[Unit]
Description=Clear recently-used.xbel continuously

[Service]
ExecStart=%h/.local/bin/clearrecent
Restart=on-failure

[Install]
WantedBy=default.target